
.projects{
    padding: $section-gap 0;
    // visibility:hidden;
    // border: 1px solid salmon;
    // opacity: 0;
    // animation: fadeUp 0.3s ease forwards;
    @include respond-to("small"){
        padding: $ele-gap 0;
    }
    &-title{
        height: 0;
        overflow:hidden;
    }
    &-project{
        width: 100%;
        // border: 1px solid blueviolet;
        margin-top: $section-gap * 2;
        &-exeption{ // 첫번째 프로젝트는 마진 예외
            margin-top: 0;
        }
        @include respond-to("small"){
            margin-top: $section-gap;
            &-exeption{ // 첫번째 프로젝트는 마진 예외
                margin-top: 0;
            }
        }
    }
    &-subtitle{
        @include section-title;
    }
    &-basic-info{
        // border: 1px solid slateblue;
        .techs{
            // border: 1px solid red;
            font-weight: bold;
            margin-bottom: 1rem;
            @include flex-center{
                flex-wrap: wrap;
                justify-content: flex-start;
            };
            @include respond-to("small"){
                justify-content: center;
            }

            &-item{
                border: 1px solid #eee;
                cursor: pointer;
                padding: 5px 10px;
                margin: 5px;
                border-radius: 1rem;
                box-shadow: $common-box-shadow;
                background-color: $white;
                transition: 0.3s;
                @include respond-to("small"){
                    font-size: 0.8rem;
                    padding: 2px 6px;
                    margin: 3px;
                    font-weight: normal;
                }
                &:hover{
                    background-color: lighten($point-color, 12);
                }
                &::before{
                    content: "#";
                    padding-right: 5px;
                    color: #ccc;
                }
                // &:last-child{
                //     @include date-style;
                //     &::before{
                //         display: none;
                //     }
                // }
            }
        }
    }
    &-image-cgv, &-image-mall{
        position: relative;
        width: 100%;
        height: fit-content;
        // border: 1px solid violet;
    }
    &-image{
        box-shadow: $common-box-shadow;
        // border: 1px solid blue;
        max-width: 100%;
        height: auto;
    }

    .image-cover{
        &-cgv, &-mall{
            // border: 3px solid green;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.5);
            opacity: 0;
            z-index: 99;
            cursor: pointer;
            transition: all 0.3s;
            @include flex-center;
            &__btn{
                // border: 1px solid blue;
                background-color: $white;
                padding: 10px 20px;
                color: $red;
                font-weight: bold;
                animation-duration: 1s;
                animation-name: more-moving;
                animation-iteration-count: infinite;
                transition: 0.3s;
                text-transform: uppercase;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    &-modal{
        &-cgv, &-mall{
            position: fixed;
            z-index: 999;
            left: 0;
            top: 0;
            width: 100%;
            height: 0;
            overflow: hidden;
            @include flex-center;
            &__close {
                position: absolute;
                top: 1rem;
                right: 1rem;
                color: #aaa;
                font-size: 2.5rem;
                font-weight: bold;
                display: inline-block;
                padding: 1rem 2rem;
                transition: 0.3s;
                cursor: pointer;
                &:hover, &:focus {
                    color: black;
                }

                @include respond-to("small"){
                    position: fixed;
                    display: none;
                    padding: 0.2rem 1rem;
                    top: unset;
                    right: 50%;
                    bottom: 1rem;
                    margin-right: -1.7rem;
                    text-align: center;
                    color: $white;
                    border: 1px solid $white;
                    border-radius: 2rem;
                }
            }
        }

        &-header{
            // border: 1px solid red;
            margin-bottom: 1.5rem;
            @include flex-center{
                flex-direction: column;
            };
        }
        &-title{
            font-size: 1.7rem;
            text-transform: uppercase;
            // border: 1px solid red;
            text-align: center;
        }
        &-subtitle{
            // border: 1px solid red;
            font-size: 1.4rem;
            margin: 3rem 0 1rem 0;
            text-transform: uppercase;
            // text-indent: 0.7rem;
            @include icon($icon-code: '\e806', $icon-size: 1.3rem){
                font-weight: normal;
            };
            @include respond-to("small"){
                margin: 1rem 0 0.5rem 0;
            }
        }
        &-basic{
            color: lighten($sub-font-color, 10);
            // color: $sub-font-color;
        }
        &-list{
            // border: 1px solid red;
            &__item{
                @include icon($icon-code: '\e807', $icon-size: 1rem);
            }
        }
        &-links{
            display: flex;
            // border: 1px solid red;
            &__text{
                @include readable-hidden;
            }
            &__link{
                display: inline-block;
                // border: 1px solid blue;
                padding: 0.5rem;
                color: lighten($sub-font-color, 20);
                &:hover{
                    transform: scale(1.2);
                }
            }
            .site{
                @include icon($icon-code: '\e802', $icon-size: 1.5rem){ 
                    position: relative; 
                    top: 3px;
                };
            }
            .youtube{
                @include icon($icon-code: '\f144', $icon-size: 1.7rem);
            }
            .github{
                @include icon($icon-code: '\f09b', $icon-size: 1.7rem);
            }
        }
        &-content {
            position: relative;
            background-color: $white;
            padding: 4rem 5rem;
            width: 80%;
            height: 95%;
            line-height: 1.9rem;
            // border: 1px solid red;
            overflow: auto;
            overflow-y: scroll;
            @include respond-to("small"){
                width: 100%;
                height: 85%;
                padding: 2rem;
                margin-bottom: 2rem;
            }

            .cgv-mvp__wrap, .cgv-tech__wrap, .cgv-role__wrap,
            .mall-mvp__wrap, .mall-tech__wrap, .mall-role__wrap{
                // border: 1px solid red;
                @include respond-to("small"){
                    max-height: 0;
                    overflow: hidden;
                    border-bottom: 1px solid #ddd;
                    transition: all 2s;
                }
            }
        }
        &-temp{
            width: 50%;
            @include respond-to("small"){
                width: 100%;
            }
            &__wrap{
                // border: 1px solid pink;
                @include flex-center;
                @include respond-to("small"){
                    flex-direction: column;
                }
            }
        }

        &__text{
            margin: 1rem 0;
            &-wrap{
                flex: 1.5;
                // border: 1px solid violet;
                .odd{
                    // border: 1px solid blue;
                    margin-right: 1.5rem;
                    @include respond-to("small"){
                        margin-right: 0;
                        
                    }
                }
                .even{
                    // border: 1px solid blue;
                    margin-left: 1.5rem;
                    @include respond-to("small"){
                        margin-left: 0;
                        
                    }
                }
            }
        }
        &__tag{
            @include date-style{
                margin-left: 0;
                font-weight: bold;
                position: relative;
                top: -2px;
            };
        }

        &-role{
            // border: 1px solid violet;
            margin-top: 3rem;
            .bold{
                font-weight: bold;
            }
            @include flex-center;
            @include respond-to("small"){
                margin-top: 1rem;
                flex-direction: column;
            }
        }

        &-image{
            &-mobile{
                width: 47%;
                height: 100%;
                // border: 1px solid salmon;
                box-shadow: $common-box-shadow;
                &__wrap{
                    width: 50%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    // border: 1px solid red;
                    order: 1;
                    @include respond-to("small"){
                        width: 80%;
                        order: 0;
                        margin: 1.5rem 0;
                    }
                }
            }
            &-web{
                max-width: 100%;
                // display: inline-block;
                box-shadow: $common-box-shadow;
                &__wrap{
                    flex: 3;
                    @include respond-to("small"){
                        order: 1;
                    }
                }
            }
        }
    }
}

@keyframes slide {
    0% {
        height: 0;
        background-color: rgba(0,0,0,0);
    }
    50% {
        height: 100%;
        background-color: rgba(0,0,0,0);
    }
    100%{
        height: 100%;
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
}

.slide-animate{
    animation: slide 1s ease forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}


.give-max-height{
    max-height: fit-content !important;
}
