// 색상
$white : #fff;
$red: #e74c3c;

$base-color: #fff;
$base-sub-color: #EFEFEF;

$main-color: darken( #CE7182, 20);
$main-color: darken( #BC8F8F, 5);

$sub-color: #80828A;

$point-color: #828399;
$point-color: #9697A3;
$point-color: #ABCEE2;

$main-font-color: #353036;
$highlight-color: lighten( #C0D2DC, 5);

// 크기
$wrap-width: 1080px;
$title-height: 150px;
$nav-height: 50px;
$ele-gap: 35px;
$section-gap: $ele-gap * 2;

$common-box-shadow: 3px 1px 10px 0 rgba(0,0,0,0.1);

// 디바이스 기준점
$breakpoints: (
    "small": ( max-width: 768px ),
    "medium": ( max-width: 992px ),
    "large": (  max-width: 1200px )
);